{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
    <div class="container">

        <H1 >Компоненты</H1>
        <div class="container">
            <p> {{ component_processors }}</p>
            <p>
                Фильтры
            </p>
        </div>
{#    TODO написать это как карты товаров, а не как таблица #}
{#        {% comment %} Написать это как карты товаров, а не как таблица {% endcomment %}#}
{#        <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#              <th scope="col">#</th>#}
{#              <th scope="col">Brand</th>#}
{#              <th scope="col">Model</th>#}
{#              <th scope="col">Soket</th>#}
{#              <th scope="col">Memory type</th>#}
{#              <th scope="col">MFS</th>#}
{#              <th scope="col">TDP</th>#}
{#              <th scope="col">Koef</th>#}
{#              <th scope="col">Price</th>#}
{#            </tr>#}
{#          </thead>#}
{#          <tbody>#}
{##}
{#            {% for component_processor in component_processors %}#}
{#            <tr>#}
{#              <th scope="row">{{ component_processor.id }}</th>#}
{#              <td>{{ component_processor.processor.brand }}</td>#}
{#              <td>{{ component_processor.processor.processor_models }}</td>#}
{#              <td>{{ component_processor.processor.soket }}</td>#}
{#              <td>#}
{#                  {% for processor_memory_type in component_processor.processor.memory_type.all %}#}
{#                    {{ processor_memory_type }}#}
{#                  {% endfor %}#}
{#              </td>#}
{#              <td>{{ component_processor.processor.mfs }}</td>#}
{#              <td>{{ component_processor.processor.tdp }}</td>#}
{#              <td>{{ component_processor.raiting_for_price }}</td>#}
{#              <td>{{ component_processor.price }}</td>#}
{#            </tr>#}
{#            {% endfor %}#}
{#          </tbody>#}
{#        </table>#}
    </div>
{% endblock %}