{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
    <div class="container">

        <H1 >Компоненты</H1>
        <div class="container">
            <div class="card" style="width: 18rem;">
                <img src="computer_part.jpg" class="card-img-top" alt="Картинка товара">
                    <div class="card-body">
                        <h5 class="card-title">Название компонента</h5>
                        <p class="card-text">Цена: $99.99</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="rating">
                                <span class="text-warning">&#9733;</span>
                                <span class="text-warning">&#9733;</span>
                                <span class="text-warning">&#9733;</span>
                                <span class="text-warning">&#9733;</span>
                                <span class="text-muted">&#9734;</span>
                            </div>
                            <small class="text-muted">4.0 звезды</small>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}