{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
    <div class="container">
        <form action={% url "registration" %} method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="username" class="form-label">Имя пользователя*</label>
                    <input type="text" class="form-control" id="username"
                        placeholder="Введите ваше имя пользователя" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="email" class="form-label">Email*</label>
                    <input type="email" class="form-control" id="email"
                        placeholder="Введите ваш email" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="password1" class="form-label">Пароль*</label>
                    <input type="password" class="form-control" id="password1"
                        placeholder="Введите пароль" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="password2" class="form-label">Подтверждение пароля*</label>
                    <input type="password" class="form-control" id="password2"
                        placeholder="Подтвердите пароль" required>
                </div>
            </div>
            <button type="submit"
                class="btn btn-dark btn-block">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}